@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Frijole|Monoton');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    box-sizing: border-box;
}
body{
    font-family:'Roboto Mono', monospace;
    margin:0 auto;

    background:#323232;

    font-size: medium;

    width:100%;
    height: 100%;

}
/*li{*/
    /*list-style: none;*/
/*}*/

/*a {*/
    /*color: white;*/
    /*letter-spacing: 2px;*/
    /*text-decoration: none;*/
    /*margin: 2px;*/

    /*display: inline-block;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*transition: all 0.5s;*/
    /*opacity: 0.7;*/
/*}*/
/*}*/
/*a:hover {*/
    /*background:white;*/
    /*color:black;*/

/*}*/
/*.main-header{*/
    /*padding:10px;*/
    /*width:100%;*/
    /*height:20px;*/
    /*top:0;*/
    /*left:0;*/
    /*background:black;*/
    /*opacity:0.8;*/
    /*position:fixed;*/
    /*font-size:20px;*/
    /*display:flex;*/
/*}*/
/*.logo{*/
    /*color:white;*/
     /*font-weight:100;*/
    /*width:186px;*/
    /*height:27px;*/
    /*margin:20px;*/
    /*text-align:center;*/
    /*letter-spacing:2px;*/
 /*}*/
/*.logo:hover{*/
    /*background:white;*/
    /*color:black;*/
    /*cursor:pointer;*/
/*}*/
/*.header-nav{*/

    /*width:1366px;*/

/*}*/

/*#main-nav{*/
    /*width:800px;*/
    /*display:flex;*/
    /*justify-content:flex-end;*/
    /*align-items:center;*/
    /*float:right;*/
/*}*/
.buttons{
    margin: 0 auto;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
}
.button1{
    background:yellow;
    color:black;
}
.button1:hover{
    background: lightgoldenrodyellow;
}
.main-content{
    color:black;
    /*padding-top:100px;*/
    width:100%;
}

.sec1{
    background: #323232;
    height: 600px;
}
.sec2{
    background:#424242;
    height:500px;
    text-align: center;
}
.sec3{
    background:#E64A19;
    height:400px;
    text-align: center;
}
.heading{
    font-weight:100;
    letter-spacing:6px;
    color:white;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid #fcfcfc;
    font-family: 'Roboto Light';
}
main{
    font-family: 'Acme', sans-serif;
    font-size:x-large;
}
.about{
    margin-top:180px;
    font-family: 'Monoton', cursive;
    text-align:center;
    letter-spacing:10px;
    height:100px;
    color:white;

}
.register{
    font-size:14px;
    font-weight:200;
    text-align:center;
    padding-top:80px;
    letter-spacing:10px;
    color:white;
}
.events{
    padding:100px;
    width:100%;
    text-align: center;
    margin-left: 10px;
    letter-spacing:10px;
    height:400px;
    color:white;
    display: flex;
    padding:20px;
    justify-content:center;
    align-content: center;
    align-items:center;
    
}

.e1{
    height:300px;
    padding:70px;
    margin:60px;
    width: 300px;
    display: block;
    background-color: #8EA1B3;
    text-align:center;
    flex:1;
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.e1:hover {
    box-shadow: 0px 5px 5px #444444, 0px 10px 20px #fcfcfc;
}

.e2{
    padding:70px;
    width: 300px;
    background-color: #1EC6BC;
    text-align:center;
    height:300px;
    margin:60px;
    flex:1;
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.e2:hover {
    box-shadow: 0px 5px 5px #444444, 0px 10px 20px #fcfcfc;
}

.e3{
    text-align:center;
    height:300px;
    width: 300px;
    background-color: #AF66E3;
    padding:70px;
    margin:60px;
    flex:1; 
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.e3:hover {
    box-shadow: 0px 5px 5px #444444, 0px 10px 20px #fcfcfc;
}

.foot{
    padding-top:50px;
    text-align:center;
    letter-spacing:10px;
    background-color:black;
    height:100px;
    color:white;
}

#logo_title {
    padding: 10px;
    clear: both;
    float: left;
}